<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224359558470-38uil8083unb7tf0q8v4b8jln8tn78pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224359558470-38uil8083unb7tf0q8v4b8jln8tn78pe</string>
	<key>API_KEY</key>
	<string>AIzaSyBVeWyxEu8cbNQRrm5kr3Eu6mX5I1Q8gLc</string>
	<key>GCM_SENDER_ID</key>
	<string>224359558470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephensonang.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-60cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-60cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224359558470:ios:12022c81227f78c0</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-app-60cd4.firebaseio.com</string>
</dict>
</plist>